@import "../vars";

.task-wrap {

  @include transparent_form;
  width: 580px;
  height: initial;
  margin: 50px auto;

  .tasks {

    .row {
      display: flex;
      color: #ffffff;
      padding: 5px 20px;

      .important{
        display: flex;
        align-items: center;
        width: 60px;
        content: '!';
        justify-content: center;
        padding-right: 23px;
      }
      .date{
        display: flex;
        align-items: center;
        width: 130px;
      }

      .todo {
        display: flex;
        flex: 1 0 auto;
        align-items: center;
        padding: 5px;
      }

      .buttons {
        user-select: none;
        display: flex;
        justify-content: space-between;

        .del {
          @include button;
          background-color: $color-error;
        }

        .edit {
          @include button;
        }
      }

    }
  }

  .new-task {
    display: flex;
    padding: 10px;

    input {
      @include input;
      margin-right: 5px;
      margin-left: 10px;

      &[type='checkbox'] {
        align-self: center;
        height: 30%;
        width: 77px;
      }

      &[type='date'] {
        align-self: center;
        width: 240px;
      }
    }

    button {
      @include button;
      position: relative;
      top: 0;
      right: 0;
      width: initial;
      padding: 3px 10px;
      margin: 8px;
      display: flex;
      align-items: center;
    }
  }
}
